.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}
.search-input {
  width: 100%;
}

.search-icon {
  opacity: .5;
}

.search-button {
  background: aliceblue;
  bottom: 5px;
  left: 15px;
}

.page-move {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.result-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.result {
  padding-bottom: 20px;
  width: 45%;
}

.result-info {
  margin-top: 30px;
  margin-bottom: 30px;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

::ng-deep {
  .year-filter {
    width: 40%;
  }
  .year-filter .ng5-slider .ng5-slider-bar {
    background: #ffe4d1;
    height: 2px;
  }
  .year-filter .ng5-slider .ng5-slider-selection {
    background: orange;
  }

  .year-filter .ng5-slider .ng5-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .year-filter .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .year-filter .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
  }

  .year-filter .ng5-slider .ng5-slider-limit {
    font-weight: bold;
    color: orange;
  }

  .year-filter .ng5-slider .ng5-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
  }

  .year-filter .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: orange;
  }
}
